{% if release_version is defined %}
 {% if release_version == "latest" %}
upstream {{ release_version }} {  
{{'{{'}}- range service "{{ servicename }}" {{'}}'}}
  server {{'{{'}} .Address {{'}}'}};
{{'{{'}}- end {{'}}'}}
}
 {% elif release_version == "v2" %}
upstream {{ release_version }} {
  server 127.0.0.1:8080;
}
{% else %}
upstream python {
{{'{{'}}- range service "{{ servicename }}" {{'}}'}}
  server {{'{{'}} .Address {{'}}'}};
{{'{{'}}- end {{'}}'}}
}
{% endif %}
{% endif %}

server {
  listen 80;
{% if release_version is defined %}
  location / {
    proxy_pass http://{{ release_version }};

{% else %}
  location / {
    proxy_pass http://python;
  }

{% endif %}
  }
}
